body{
  margin: 0;
  background: url(./images/void-bkg.jpeg);
  color: white;
  font-family: 'Charm', cursive;
  font-weight: 100;
  letter-spacing: 5px;
}
main {
  width: 80%;
  margin: 0 auto;
}
#text {
  height: 400px;
  padding-top: 10px;
  border: 1px solid white;
  box-sizing: border-box;
  overflow: scroll;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.08);
}
#choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {

}

.choice {
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  min-width: 200px;
  min-height: 150px;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.choice:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

#choiceOne{
}
#choiceTwo{
}
#choiceThree{
}

.fadeInElement{
  animation: fadeInUp 10s;
}


#silkscreen{
    position:fixed;
    padding:0px;
    margin:0px;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0,0,0,1);
    z-index: 100;
    animation-name: SilkscreenAnimate;
    animation-duration: 5s;
    animation-delay: 23s;
    animation-iteration-count: 1;
}

#silkscreenInner{
  text-align: center;
  width:75%;
  height:75%;
  z-index: 101;
  margin: 20px auto;
  padding: 40px;
}

/* all this non-sense is for the intro, which at this point.. wgaf?*/


.introText1class{
  text-align: center;
  opacity:0;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 40px;
  z-index: 200;
  animation-name: introText1animate;
  animation-duration: 8s;
  animation-iteration-count: 1;
}
.introText2class{
  text-align: center;
  opacity:0;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 40px;
  z-index: 200;
  animation-name: introText2animate;
  animation-duration: 7s;
  animation-delay: 1s;
  animation-iteration-count: 1;
}
.introText3class{
  text-align: center;
  opacity:0;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 40px;
  z-index: 200;
  animation-name: introText3animate;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

.introText4class{
  text-align: center;
  opacity:0;
  color: black;
  font-family: 'Anonymous Pro', monospace;
  font-size: 60px;
  z-index: 200;
  animation-name: introText4animate;
  animation-duration: 7s;
  animation-delay: .5s;
  animation-iteration-count: 1;
  text-shadow: 0 0 12px #FFFFFF;
  z-index: 200;
}
.introText5class{
  text-align: center;
  opacity:0;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 40px;
  z-index: 200;
  animation-name: introText3animate;
  animation-duration: 6s;
  animation-iteration-count: 1;
}
.introText6class{
}
/*
SITE THIS IN READ ME!!!!! vvv
*/
@keyframes fadeInUp {
  0% {
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* INTRO ANIMATIONS */
@keyframes introText1animate {
0%{
  opacity: 0;
  top: 25%;
  bottom: -5rem;
  }
65%{
  opacity: 1;
  top: 25%;
  bottom: 25%;
}
100%{
  opacity: 0;
  }
}

@keyframes introText2animate {
  0%{
    opacity: 0;
    }
  65%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    }
}

@keyframes introText3animate {
  0%{
    opacity: 0;
    }
  65%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    }
}

@keyframes introText4animate {
  0%{
    opacity: 0;
    }
  65%{
    font-size: 100px;
    opacity: 1;
  }
  100%{
    font-size: 100px;
    opacity: 0;
    }
}

@keyframes introText5animate {
  0%{
    opacity: 0;
    }
  65%{
    font-size: 100px;
    opacity: 1;
  }
  100%{
    font-size: 100px;
    opacity: 0;
    }
}

@keyframes SilkscreenAnimate {
  0%{
    }
  100%{
    background-color: rgba(0,0,0,0)
    }
}
