body{
  margin: 0;
  background: black;
  color: white;
  font-family: 'Griffy', cursive;
  font-weight: 100;
  letter-spacing: 3px;
}
main {
  width: 80%;
  margin: 0 auto;
}
#text {
  height: 400px;
  padding-top: 100px;
  border: 1px solid white;
  box-sizing: border-box;
  overflow: scroll;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
}
#choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.choice {
  min-width: 200px;
  min-height: 150px;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.choice:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
#choiceOne{
}
#choiceTwo{
}
#choiceThree{
}
